

<div class="row">
	<div class="col-8 overflow-auto"><p-treeTable [value]="files1" width="70%">
	 <ng-template
			pTemplate="header" >
		<tr>
			<th>Description</th>
			<th>Raw Data</th>
			<th>Info</th>
		</tr>
		</ng-template> <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
		<tr [ttRow]="rowNode">
			<td><p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
				{{rowData.description}}</td>
			<td>{{rowData.rawdata}}</td>
			<td>{{rowData.info}}</td>
		</tr>
		</ng-template> </p-treeTable></div>
		
	<div class="col-4"><table class="table table-borderless">
   <thead class="thead-light" style="background:#f8f9fa;">
        <tr>
          <th></th>
          <th>Raw Data</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let character of characters;index as i">
        <td>{{i}} </td>
        <td>{{ character.character_name }}</td>
      </tr>
    </tbody>
  </table></div>
</div>
